// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// デザインテンプレート
$primary: #3c7d9b;
$danger: #c03619;
$secondary: #AAAAAA;
$black: #333333;
$dark: #333333;
$active: #f4f8fa;
$bg: white;
$bg-secondary: #F4F8FA;

$twitter: #1DA1F2;
$facebook: #1877F2;
