.user-card{
    .card-body{
        img{
            height:60px;
            position:absolute;
            top:8px;
            right:8px;
            border-radius:50%;
            border:1px solid rgba(0, 0, 0, 0.125);
            background-color:white;
        }
        .component-article{
            display:inline;
        }
        .component-favorite{
            display:inline;
        }
    }
}