.container{
    .row{
        .col-md-8{
            .article-wrapper{
                .article-body{
                    min-height:20em;
                }
            }
            .comment-wrapper{
                .comment-title{
                    border-bottom:1px solid #707070;
                }
                .comment{
                    margin-left:0;
    
                    .comment-header-left{
                        img{
                            width: 37px;
                            background-color:white;
                            border-radius: 50%;
                        }
                        p{
                            display: inline-block;
                        }
                    }
                    .comment-header-right{
                        p{
                            display: inline-block;
                        }
                    }
                    .comment-body{
                        border-bottom:1px dotted #707070;
                    }
                }
            }
        }
    }
}