.popup-wrapper {
  display: none;
  position: absolute;
  z-index: 1000;
  min-height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  background-color: rgba(70, 70, 70, 0.5);
}

.popup-wrapper .container {
  position: relative;
  margin: 0 auto;
}

.popup-wrapper .container .card {
  position: fixed;
  width: 24em;
  height: 14em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}


.fade-item {
  margin: 0;
  text-align: center;
  background: #bdc3c7;
  padding: 15px 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}


.container .row .col-md-8 .article-wrapper .article-body {
  min-height: 20em;
}

.container .row .col-md-8 .comment-wrapper .comment-title {
  border-bottom: 1px solid #707070;
}

.container .row .col-md-8 .comment-wrapper .comment {
  margin-left: 0;
}

.container .row .col-md-8 .comment-wrapper .comment .comment-header-left img {
  width: 37px;
  background-color: white;
  border-radius: 50%;
}

.container .row .col-md-8 .comment-wrapper .comment .comment-header-left p {
  display: inline-block;
}

.container .row .col-md-8 .comment-wrapper .comment .comment-header-right p {
  display: inline-block;
}

.container .row .col-md-8 .comment-wrapper .comment .comment-body {
  border-bottom: 1px dotted #707070;
}


.user-card .card-body img {
  height: 60px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: white;
}

.user-card .card-body .component-article {
  display: inline;
}

.user-card .card-body .component-favorite {
  display: inline;
}

